.section404 {
  background-color: #ddd;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  animation: err404 1s;
}

.error404 {
  font-weight: 700;
  font-size: 3rem;
}

.link404 {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: blue;
}

.link404:hover {
  transform: scale(1.1);
}

@keyframes err404 {
  0% {
    padding-top: 100%;
  }
  100% {
    padding-top: 20%;
  }
}
